*{
    margin:0;
    padding: 0;
   
}
body{
    background-image: url(pic/istockphoto-614242860-612x612.jpg);
    
}
.top {
    margin-bottom: 50px;
    
}
.top h1{
    text-align: center;
    color:blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.full{
    background:linear-gradient(green ,yellow ,red ) ;
    background-repeat: no-repeat;
    height:fit-content;
    border-radius: 100px;
    margin:60px;
    border-style: ridge;   
}
.form{ 
    margin-left:50px;
    margin-right: 80px;
    border-radius: 30px;  
   
}
.form-group{
    margin-bottom: 40px;
    margin-left: 50px;
    
}

.btn{
    margin-left: 50px;
    margin-bottom: 50px;
}
